{% extends 'base.html' %} {% block content %}
<div>
  <div class="container pt-4">
    <div class="row shadow p-0 mt-4">
      <div class="col-lg-4 mx-auto shadow p-0">
        <div class="alert alert-info">
          <h2>Yeni tapşırıq əlavə edin</h2>
        </div>
        <div class="p-4">
          <form action="/app/add-todo/" method="post">
            {% csrf_token %} {{ form.as_p }}
            <hr />
            <input type="submit" value="Əlavə et" class="btn btn-info" />
          </form>
        </div>
      </div>

      <div class="col">
        <div class="border">
          {% if todos|length == 0 %}
          <div class="p-4">
            <br />
            <br />
            <div class="alert alert-info text-center">
              <p class="" style="font-size: 30px">Tapşırıq yoxdur</p>
            </div>
            <br />
            <br />
          </div>
          {% else %}
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Başlıq</th>
                  <th>Status</th>
                  <th>Dərəcə</th>
                  <th>Tarix</th>
                  <th>Fəaliyyət</th>
                </tr>
              </thead>
              <tbody>
                {% for todo in todos %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ todo.title }}</td>
                  <td>
                    {% if todo.status == 'C' %} Həll edildi {% else %} Gözləyir
                    {% endif %}
                  </td>
                  <td>{{ todo.priority }}</td>
                  <td>{{ todo.date }}</td>
                  <td>
                    <!-- Button trigger modal -->
                    <button data-toggle="modal" data-target="#exampleModalCenter{{ todo.id }}" class="btn btn-danger">
                      Sil
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter{{ todo.id }}" tabindex="-1" role="dialog"
                      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">
                              Silmək istədiyinizdən əminsinizmi?
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                              Bağla
                            </button>
                            <a href="/app/delete-todo/{{ todo.id }}" class="btn btn-danger">Sil</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% if todo.status == 'P' %}
                    <a href="/app/change-status/{{ todo.id }}/C" class="btn btn-success">Həll edildi</a>
                    {% else %}
                    <a href="/app/change-status/{{ todo.id }}/P" class="btn btn-success">Gözləyir</a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  h1 {
    margin: 15px 0;
    font-weight: 900;
    font-size: 28px;
    text-align: center;
  }

  input {
    transition: 0.5s ease-in-out;
    margin: 10px 0;
    font-size: 18px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.11);
    border: none;
  }

  .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    margin: 35px 0;
  }

  button {
    margin: 5px;
    padding: 10px;
    border: none;
    font-size: 18px;
    transition: 0.5s ease-in-out;
  }

  label {
    font-size: 12px;
  }

  form {
    height: 20%;
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: 370px;
    margin: 5px auto;
  }

  form button {
    background: rgb(25, 67, 255);
    width: 100%;
    margin: 5px 0;
    color: white;
  }

  .start {
    background: rgb(48, 33, 253);
    color: white;
  }

  .break {
    background: rgb(0, 199, 116);
    color: #000000;
  }

  .reset {
    background: rgb(250, 69, 109);
    color: #000000;
  }

  .pause {
    background: rgb(253, 143, 17);
  }

  .resume {
    background: rgb(131, 10, 252);
    color: white;
  }

  .clock {
    padding: 3px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 30%;
    font-size: 24px;
  }

  .progress-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .progress-ring__circle {
    transition: 0.5s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke: rgb(51, 65, 255);
  }

  .danger {
    stroke: rgb(243, 17, 28);
    animation: pulse 0.9s ease-in-out infinite;
  }

  @keyframes pulse {

    0%,
    100% {
      transform: rotate(-90deg) scale(1);
    }

    50% {
      transform: rotate(-90deg) scale(1.05);
    }

    75% {
      transform: rotate(-90deg) scale(0.8);
    }
  }

  @media screen and (min-width: 768px) {
    .clock-container {
      padding-top: 50px;
      display: grid;
      grid-template-areas:
        "clock form"
        "btns form";
    }

    .btn-group {
      grid-area: btns;
      justify-content: center;
    }

    .clock {
      grid-area: clock;
      height: 100%;
    }

    h1 {
      grid-area: head;

      align-self: center;
    }

    form {
      align-self: center;
      justify-self: center;
      grid-area: form;
      width: 50%;
      justify-content: space-around;
    }
  }

  @media screen and (max-width: 375px) {
    form {
      height: 40%;
    }
  }

  .murmur {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .sounds {
    margin: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .murmur i {
    font-size: 60px;
    margin: 0 20px;
    text-align: center;
  }

</style>
<div class="clock-container">
  <figure class="clock">
    <div class="mins">0</div>
    <div>:</div>
    <div class="secs">00</div>
    <audio src="http://soundbible.com/mp3/service-bell_daniel_simion.mp3"></audio>
    <svg class="progress-ring" height="120" width="120">
      <circle class="progress-ring__circle" stroke-width="8" fill="transparent" r="50" cx="60" cy="60" />
    </svg>
  </figure>

  <div class="btn-group">
    <button class="start">Başla</button>
    <button class="reset">Yenilə</button>
    <button class="pause">Stop</button>
  </div>

  <form id="form">
    <label for="focusTime">Diqqət zamanı</label>
    <input type="number" value="1" id="focusTime" />
    <label for="breakTime">Fasilə zamanı</label>
    <input type="number" value="1" id="breakTime" />
    <button type="submit">Yadda saxla</button>
  </form>

  <script>
    const focusTimeInput = document.querySelector("#focusTime");
    const breakTimeInput = document.querySelector("#breakTime");
    const pauseBtn = document.querySelector(".pause");
    focusTimeInput.value = localStorage.getItem("focusTime");
    breakTimeInput.value = localStorage.getItem("breakTime");

    document.querySelector("#form").addEventListener("submit", (e) => {
      e.preventDefault();
      localStorage.setItem("focusTime", focusTimeInput.value);
      localStorage.setItem("breakTime", breakTimeInput.value);
    });

    document.querySelector(".reset").addEventListener("click", () => {
      startBtn.style.transform = "scale(1)";
      clearTimeout(initial);
      setProgress(0);
      mindiv.textContent = 0;
      secdiv.textContent = 0;
    });

    pauseBtn.addEventListener("click", () => {
      if (paused === undefined) {
        return;
      }
      if (paused) {
        paused = false;
        initial = setTimeout("decremenT()", 60);
        pauseBtn.textContent = "pause";
        pauseBtn.classList.remove("resume");
      } else {
        clearTimeout(initial);
        pauseBtn.textContent = "Davam et";
        pauseBtn.classList.add("resume");
        paused = true;
      }
    });

    const circle = document.querySelector(".progress-ring__circle");
    const radius = circle.r.baseVal.value;
    const circumference = radius * 2 * Math.PI;

    circle.style.strokeDasharray = circumference;
    circle.style.strokeDashoffset = circumference;

    function setProgress(percent) {
      const offset = circumference - (percent / 100) * circumference;
      circle.style.strokeDashoffset = offset;
    }

    const el = document.querySelector(".clock");
    const bell = document.querySelector("audio");

    const mindiv = document.querySelector(".mins");
    const secdiv = document.querySelector(".secs");

    const startBtn = document.querySelector(".start");
    localStorage.setItem("btn", "focus");

    let initial, totalsecs, perc, paused, mins, seconds;

    startBtn.addEventListener("click", () => {
      let btn = localStorage.getItem("btn");

      if (btn === "focus") {
        mins = +localStorage.getItem("focusTime") || 1;
      } else {
        mins = +localStorage.getItem("breakTime") || 1;
      }

      seconds = mins * 60;
      totalsecs = mins * 60;
      setTimeout(decremenT(), 60);
      startBtn.style.transform = "scale(0)";
      paused = false;
    });

    function decremenT() {
      mindiv.textContent = Math.floor(seconds / 60);
      secdiv.textContent = seconds % 60 > 9 ? seconds % 60 : `0${seconds % 60}`;
      if (circle.classList.contains("danger")) {
        circle.classList.remove("danger");
      }

      if (seconds > 0) {
        perc = Math.ceil(((totalsecs - seconds) / totalsecs) * 100);
        setProgress(perc);
        seconds--;
        initial = window.setTimeout("decremenT()", 1000);
        if (seconds < 10) {
          circle.classList.add("danger");
        }
      } else {
        mins = 0;
        seconds = 0;
        bell.play();
        let btn = localStorage.getItem("btn");

        if (btn === "focus") {
          startBtn.textContent = "start break";
          startBtn.classList.add("break");
          localStorage.setItem("btn", "break");
        } else {
          startBtn.classList.remove("break");
          startBtn.textContent = "start focus";
          localStorage.setItem("btn", "focus");
        }
        startBtn.style.transform = "scale(1)";
      }
    }
  </script>
  <script>
    $("#signup").click(function () {
      $(".message").css("transform", "translateX(100%)");
      if ($(".message").hasClass("login")) {
        $(".message").removeClass("login");
      }
      $(".message").addClass("signup");
    });

    $("#login").click(function () {
      $(".message").css("transform", "translateX(0)");
      if ($(".message").hasClass("login")) {
        $(".message").removeClass("signup");
      }
      $(".message").addClass("login");
    });
  </script>

</div>

<style>


html {
  height: 100%;
  position: relative;
}

.fa, .cat-submit-container {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-search:before {
  content: "\f067";
}

.fa-angle-down:before {
  content: "\f107";
}

.fa-arrow-right:before, .cat-submit-container:before {
  content: "\f067";
}
.ready .fa-arrow-right:before, .ready .cat-submit-container:before {
  content: "\f061";
}
.wobble .fa-arrow-right:before, .wobble .cat-submit-container:before {
  animation-name: ease-left;
  animation-duration: 500ms;
  animation-fill-mode: both;
  transition: transform 200ms;
  animation-timing-function: ease-out;
}

.thumbnail {
  display: block;
  height: 250px;
  margin: 0 auto;
  width: 425px;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  transition: height 200ms 300ms;
}
.thumbnail.hascategory {
  height: 260px;
}

.cat-wrap {
  margin: 0 auto;
  position: relative;
  width: 100%;
  position: absolute;
  bottom: -40px;
  right: 0;
  transition: 200ms all;
}
.cat-wrap.expanded {
  left: 0;
}

.cat-container input:-moz-placeholder, .cat-container input::-webkit-input-placeholder {
  color: transparent;
}

input[type="text"] {
  box-sizing: border-box;
  border-radius: 0;
  -webkit-appearance: none;
}

input:-moz-placeholder, input::-webkit-input-placeholder {
  color: #999;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

.cat-container {
  position: relative;
  color: white;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
  height: 100%;
}
.cat-container:before {
  position: absolute;
  top: 1.2em;
  left: 1.2em;
  font-size: 15px;
}

.cat-name {
  outline: none;
  width: 0px;
  color: transparent;
  cursor: pointer;
  border: none;
  min-height: 80px;
  font-size: 1.5em;
  height: 100%;
  -webkit-appearance: textfield;
  box-sizing: border-box;
  padding: 0;
  transition: all .2s, width .1s ease-in-out;
  background-color: rgba(255, 255, 255, 0.9);
  color: #7db9e8;
  font-size: 30px;
}
.expanded .cat-name {
  width: 350px;
  box-shadow: none;
  padding: 8px 25px;
  padding-top: 15px;
  cursor: auto;
}

.cat-label {
  font-size: .75em;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  transition: 30ms opacity;
  padding-top: 10px;
}
.expanded .cat-label {
  opacity: 1;
  transition: 300ms opacity;
}

.cat-submit-container {
  display: inline-block;
  height: 80px;
  width: 80px;
  position: absolute;
  transition: visibility 1ms;
  box-shadow: none;
  box-sizing: border-box;
  top: 15px;
}
.cat-submit-container:before {
  position: absolute;
  top: 50%;
  color: #7db9e8;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  display: block;
  transition: 200ms all, 400ms transform;
}
.expanded .cat-submit-container:before {
  transform: translateX(-50%) translateY(-50%) rotate(360deg);
}
.show-submit.expanded .cat-submit-container {
  visibility: inherit;
}
.cat-submit-container .cat-submit {
  height: 100%;
  width: 100%;
  border-radius: 0;
  cursor: pointer;
  text-indent: -999px;
  background: white;
  padding: 0;
  border: none;
}
.show-submit .cat-submit-container .cat-submit {
  width: 100%;
  visibility: inherit;
}

.cat-added-label {
  display: inline-block;
  font-size: .75em;
  width: 100%;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  top: 0px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  max-width: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-width 200ms 300ms, visibilty 1ms 300ms, opacity 300ms 300ms, padding 200ms 300ms;
}
.hascategory .cat-added-label {
  max-width: 600px;
  visibility: visible;
  opacity: 1;
  padding: 10px;
}

@keyframes rubberBand {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scaleX(1.15) scaleY(0.75);
  }
  40% {
    transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    transform: scaleX(1.05) scaleY(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ease-left {
  0%, 100% {
    transform: translateX(-50%) translateY(-50%);
  }
  20% {
    opacity: 1;
    transform: translateX(-10%) translateY(-50%);
  }
  50% {
    transform: translateX(-50%) translateY(-50%);
  }
  70% {
    transform: translateX(-30%) translateY(-50%);
  }
  100% {
    transform: translateX(-50%) translateY(-50%);
  }
}

</style>

<div class="thumbnail hascategory">
  {% for blocklist in blocklist %}
  <div class="cat-added-label">{{blocklist.name}} &nbsp;
  <a href="/app/delete-blocklist/{{ blocklist.id }}" class="btn btn-danger">Sil</a>
  </div>
{% endfor %}
  <div class="cat-wrap">
    <div class="cat-container">
      <form action="/app/add-blocklist/" method="post" style="width: 100%;">
        {% csrf_token %}
          {{ form2.name.label }}
          {{ form2.name }}
          {{ form2.messages }}
          {{ form2.errors }}
        <label for="category" class="cat-label">Name category</label>
        <input type="text" name="category" class="cat-name ui-autocomplete-input" accesskey="4" autocomplete="off" id="input" placeholder="">
      </div>
      <div class="cat-submit-container">
        <div class="cat-submit">Submit</div>
        <input class="btn btn-success" type="submit" value="Submit">
      </form>
      </div>
  </div>
  
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
  $( document ).ready(function() {

var containerClass   = '.thumbnail';
    inputClass       = '.cat-name',
    labelClass       = '.cat-added-label',
    catSubmit      = $('.cat-submit');
  
catSubmit.click(function(e){
  // e.preventDefault();
  setVars($(this));
 
  catInput.focus();
  onBlur();
   catInput.keypress(function(){
    if(catInput.val().length > 1){
      catContainer.addClass('ready');
    }else {
      catContainer.removeClass('ready');
    }
  });
  if (catContainer.hasClass('expanded') && catInput.val().length > 100) { // If there's something in the box
    var catName = catInput.val();
    addCategory(catName);
  } else if (catContainer.hasClass('expanded')){
    catContainer.addClass('wobble');  // Error if trying to submit something blank
  } else {
    catContainer.addClass('expanded'); // Reveal the form 
  }
});
function addCategory(category) {
  console.log('Added ' + category + ' category');
  catContainer.removeClass('expanded');
  catContainer.addClass('hascategory');
  catLabel.text(category);
  catInput.val('').blur(); // Reset the input field
}

function setVars(_this) {
  catContainer = _this.parents(containerClass); // Define relative variables
  catInput     = catContainer.find(inputClass);
  catLabel     = catContainer.find(labelClass);
}

function onBlur() {
  catSubmit.blur(function(){
    console.log('blurring');
     window.setTimeout(blurTester, 100);
     catContainer.removeClass('wobble');
  });
  catInput.blur(function(){
     window.setTimeout(blurTester, 100);
  });

  function blurTester() {if (catInput.is(":focus") ||  (catSubmit.is(":focus")) ){
    }
    else if ($(catInput).val()) {

    }else {
      catContainer.removeClass('expanded');
      catContainer.removeClass('ready');
    }
  }
}
  
});
</script>

<div class="murmur">
  <div class="sounds">
    <i class="fas fa-cloud-rain"></i>
    <p>Yağış</p>
    <div>
      <audio preload="auto" loop controls src='https://st2.asoftmurmur.com/assets/p/content/rain/main-rain.mp4'
        type='autio/mp4'></audio>
    </div>
  </div>

  <div class="sounds">
    <i class="fas fa-poo-storm"></i>
    <p>Şimşək</p>
    <div>
      <audio preload="auto" loop controls src="https://st2.asoftmurmur.com/assets/p/content/thunder/main-thunder.mp4"
        type="autio/mp4"></audio>
    </div>
  </div>

  <div class="sounds">
    <i class="fas fa-water"></i>
    <p>Dalğa</p>
    <div>
      <audio preload="auto" loop controls src="https://st3.asoftmurmur.com/assets/p/content/waves/main-waves.mp4"
        type="autio/mp4"></audio>
    </div>
  </div>

  <div class="sounds">
    <i class="fas fa-wind"></i>
    <p>Külək</p>
    <div>
      <audio preload="auto" loop controls src='https://st2.asoftmurmur.com/assets/p/content/wind/main-wind.mp4'
        type='autio/mp4'>
        ></audio>
    </div>
  </div>

  <div class="sounds">
    <i class="fas fa-coffee"></i>
    <p>Kofe restoranı</p>
    <div>
      <audio preload="auto" loop controls src='https://st3.asoftmurmur.com/assets/p/content/people/main-people.mp4'>
        ></audio>
    </div>
  </div>
</div>

{% endblock %}