{% extends 'base.html' %}

{% block content %}
    <h1>Sign Up Page</h1>
    <div class="container pt-4">
        <div class="col-lg-5 shadow mx-auto p-0">
            <div class="alert alert-success">Create Account</div>
            <div class="p-4">
                <form action="/signup/" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <hr>
                    <input class="btn btn-success" type="submit" value="Create Account">
                </form>
            </div>
        </div>
    </div>
{% endblock %}


